In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/Airline Dataset']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
exec(os.environ['IREWR_IMPORTS'])

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# FIRST-AUTHOR: remove path search
# import os
# for dirname, _, filenames in os.walk('./input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
# importing the necessary libraries for EDA on Airline Dataset | Kaggle Dataset

# import pandas as pd 
# import numpy as np
# FIRST-AUTHOR: remove plotting
# import plotly.express as px
# import seaborn as sns
# import matplotlib.pyplot as plt

In [3]:
# loading the dataset and showing first 5 rows of the dataset

df = pd.read_csv("./input/Airline Dataset.scaled.csv")
df.head(5)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time

In [4]:
df['Age_rank'] = df['Age'].rank()

In [5]:
df3 = df
df3 = df3[['First Name','Last Name','Age','Nationality','Age_rank']]
df3

       First Name  Last Name  Age Nationality  Age_rank
0          Edithe     Leggis   62       Japan   67547.0
1          Elwood       Catt   62   Nicaragua   67547.0
2           Darby    Felgate   67      Russia   73037.0
3        Dominica       Pyle   71       China   77356.0
4             Bay    Pencost   21       China   22352.5
...           ...        ...  ...         ...       ...
98614      Gareth    Mugford   85       China   92663.5
98615       Kasey   Benedict   19      Russia   20189.0
98616      Darrin     Lucken   65   Indonesia   70784.5
98617       Gayle  Lievesley   34       China   36678.5
98618  Wilhelmine     Touret   10      Poland   10348.0

[98619 rows x 5 columns]

In [6]:
df['max_rank'] = df['Age'].rank(method='max')

In [7]:
# Getting the info on the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98619 entries, 0 to 98618
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Passenger ID          98619 non-null  int64
 1   First Name            98619 non-null  object
 2   Last Name             98619 non-null  object
 3   Gender                98619 non-null  object
 4   Age                   98619 non-null  int64
 5   Nationality           98619 non-null  object
 6   Airport Name          98619 non-null  object
 7   Airport Country Code  98619 non-null  object
 8   Country Name          98619 non-null  object
 9   Airport Continent     98619 non-null  object
 10  Continents            98619 non-null  object
 11  Departure Date        98619 non-null  object
 12  Arrival Airport       98619 non-null  object
 13  Pilot Name            98619 non-null  object
 14  Flight Status         98619 non-null  object
 15  Age_rank              98619 non-null  float64
 16  max_rank              98619 non-null  float64
dtypes: float64(2), int64(2), object(13)
memory usage: 12.8+ MB

In [8]:
# To 5 Airports with highest value counts 


top_5_airport_df = df['Airport Name'].value_counts().head(5)
top_5_airport_df = pd.DataFrame({'Airport Name': top_5_airport_df.index, 'Count': top_5_airport_df.values})
top_5_airport_df = top_5_airport_df.sort_values(by='Count', ascending=True)

# FIRST-AUTHOR: remove plotting
# fig = px.bar(top_5_airport_df, x='Count', y='Airport Name', title='Top 5 Airport with highest Value count' )
# fig.show()

In [9]:
#  Top 20 Country with count of Visitors 

df['Country Name'].value_counts().head(20)

United States                        22104
Australia                             6370
Canada                                5424
Brazil                                4504
Papua New Guinea                      4081
China                                 2779
Indonesia                             2358
Russian Federation                    2247
Colombia                              1643
India                                 1486
France                                1382
United Kingdom                        1371
Argentina                             1203
Germany                               1161
Mexico                                1073
Japan                                 1004
South Africa                           945
Iran, Islamic Republic of              816
Philippines                            778
Venezuela, Bolivarian Republic of      730
Name: Country Name, dtype: int64

In [10]:
# Vizualizing the previous cell 

top_20_countries_df =  df['Country Name'].value_counts().head(20)
top_20_countries_df = pd.DataFrame({'Country Name': top_20_countries_df.index, 'Count': top_20_countries_df.values})
top_20_countries_df = top_20_countries_df.sort_values(by='Count', ascending=True)

# FIRST-AUTHOR: remove plotting
# fig = px.bar(top_20_countries_df, x='Count', y='Country Name', title='Top 20 Countries' )
# fig.show()

In [11]:
# Ratio between Male Travellers and Female Travellers

Travl_Ratio =  df['Gender'].value_counts()
Travl_Ratio = pd.DataFrame({'Gender': Travl_Ratio.index, 'Count': Travl_Ratio.values})

# Plotting a Donut Chart that represents the travelers ratio 

# FIRST-AUTHOR: remove plotting
# fig2 = px.pie(Travl_Ratio, values='Count', names='Gender', hole=0.5)
# fig2.update_layout(title="Traveller's Ratio Male vs Female ")
# fig2.show()

In [12]:
# Total number of Pilots per country 

Pilot_df = df[['Country Name', 'Pilot Name']]
pilot_pivot = pd.pivot_table(Pilot_df, index=['Country Name'], aggfunc='count')
pilot_pivot.rename(columns={'Pilot Name':'Pilot Count'}, inplace=True)
pilot_pivot = pilot_pivot.reset_index()
pilot_pivot.sort_values(by='Pilot Count', ascending=False, inplace=True)
pilot_pivot.head(10)

           Country Name  Pilot Count
221       United States        22104
11            Australia         6370
37               Canada         5424
28               Brazil         4504
163    Papua New Guinea         4081
42                China         2779
97            Indonesia         2358
172  Russian Federation         2247
45             Colombia         1643
96                India         1486

In [13]:
# Bar Plot for Pilot Count per Country  

# FIRST-AUTHOR: remove plotting
# fig3 = px.bar(pilot_pivot.head(10), x='Pilot Count', y='Country Name', title='Pilot Count by Country')
# fig3.show()
_ = pilot_pivot.head(10)

In [14]:
df.head(5)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status,Age_rank,max_rank
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time,67547.0,68113.0
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time,67547.0,68113.0
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time,73037.0,73609.0
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed,77356.0,77880.0
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time,22352.5,22884.0

In [15]:
# Shoes the Count of travellers per Flight Status by Country for the entire duration in the dataset

Flight_status_df = df[['Country Name','Flight Status']]
Flight_status_df['FTE'] = 1

# Creating a Pivot table by Country with Count of Travellers per Flight Status  
Flight_status_pivot = pd.pivot_table(Flight_status_df, index=['Country Name'], columns=['Flight Status'], values = ['FTE'], aggfunc='count')
Flight_status_pivot = Flight_status_pivot.reset_index()
Flight_status_pivot.head(11)

/tmp/ipykernel_114939/970310773.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Flight_status_df['FTE'] = 1

                      Country Name       FTE
Flight Status                      Cancelled Delayed On Time
0                      Afghanistan     137.0   121.0   114.0
1                          Albania       5.0     5.0     2.0
2                          Algeria     151.0   151.0   147.0
3                   American Samoa      21.0    10.0    14.0
4                          Andorra       4.0     1.0     2.0
5                           Angola     142.0   154.0   149.0
6                         Anguilla       7.0     4.0     3.0
7              Antigua and Barbuda       7.0     7.0     6.0
8                        Argentina     394.0   427.0   382.0
9                          Armenia       7.0     6.0     8.0
10                           Aruba       4.0     2.0     3.0

In [16]:
# Removing the Spaces on the column names and replacing it with (-) 
# Refrencing the dataframe to another variable (df2)

df.columns = df.columns.str.replace(' ', '_')
df2 = df
df2

# Quering on the data based on Airport Country Code (United States) 
US_data = df2.query('Airport_Country_Code == "US"')


US_data

,Passenger_ID,First_Name,Last_Name,Gender,Age,Nationality,Airport_Name,Airport_Country_Code,Country_Name,Airport_Continent,Continents,Departure_Date,Arrival_Airport,Pilot_Name,Flight_Status,Age_rank,max_rank
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time,67547.0,68113.0
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time,22352.5,22884.0
14,53524,Amberly,Handling,Female,32,China,Farmington Regional Airport,US,United States,NAM,North America,3/7/2022,FAM,Amberly Handling,Delayed,34533.5,35086.0
20,61145,Paige,Hayhow,Male,24,Sweden,Crested Butte Airpark,US,United States,NAM,North America,2/19/2022,CSE,Paige Hayhow,Delayed,25646.5,26214.0
24,40864,Sayre,Stroyan,Male,87,Indonesia,Elkhart Municipal Airport,US,United States,NAM,North America,3/20/2022,EKI,Sayre Stroyan,Cancelled,94811.5,95343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98590,36988,Kath,Palfreman,Female,31,Japan,Elizabeth Field,US,United States,NAM,North America,6/28/2022,FID,Kath Palfreman,On Time,33455.5,33980.0
98592,97507,Benjie,Garrioch,Male,2,Peru,Port Heiden Airport,US,United States,NAM,North America,9/14/2022,PTH,Benjie Garrioch,On Time,1604.5,2133.0
98604,22436,Freddie,Landrean,Female,47,Brazil,St Cloud Regional Airport,US,United States,NAM,North America,2/8/2022,STC,Freddie Landrean,On Time,50931.5,51475.0
98605,68629,Morganne,Ockenden,Female,7,China,Newport Municipal Airport,US,United States,NAM,North America,9/7/2022,ONP,Morganne Ockenden,On Time,7096.0,7623.0
98612,26208,Ody,Tineman,Male,82,Indonesia,Five Mile Airport,US,United States,NAM,North America,3/17/2022,FMC,Ody Tineman,Delayed,89341.0,89877.0

In [17]:
#  The Departure Date is an Object, converting it into Date-time format and extracting Quarter, month and Week 

US_data['Date'] = pd.to_datetime(US_data['Departure_Date']) 

# Extract quarter, month, week

US_data['Quarter'] = US_data['Date'].dt.quarter
US_data['Month'] = US_data['Date'].dt.month
US_data['Week'] = US_data['Date'].dt.isocalendar().week
US_data

#  So Now we have a data_set that only has values for United States for further EDA

/tmp/ipykernel_114939/1714895216.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_data['Date'] = pd.to_datetime(US_data['Departure_Date'])
/tmp/ipykernel_114939/1714895216.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_data['Quarter'] = US_data['Date'].dt.quarter
/tmp/ipykernel_114939/1714895216.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_data['Month'] = US_data['Date'].dt.month
/tmp/ipykernel_114939/1714895216.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_data['Week'] = US_data['Date'].dt.isocalendar().week

,Passenger_ID,First_Name,Last_Name,Gender,Age,Nationality,Airport_Name,Airport_Country_Code,Country_Name,Airport_Continent,...,Departure_Date,Arrival_Airport,Pilot_Name,Flight_Status,Age_rank,max_rank,Date,Quarter,Month,Week
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,...,6/28/2022,CXF,Edithe Leggis,On Time,67547.0,68113.0,2022-06-28,2,6,26
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,...,2/25/2022,SEE,Bay Pencost,On Time,22352.5,22884.0,2022-02-25,1,2,8
14,53524,Amberly,Handling,Female,32,China,Farmington Regional Airport,US,United States,NAM,...,3/7/2022,FAM,Amberly Handling,Delayed,34533.5,35086.0,2022-03-07,1,3,10
20,61145,Paige,Hayhow,Male,24,Sweden,Crested Butte Airpark,US,United States,NAM,...,2/19/2022,CSE,Paige Hayhow,Delayed,25646.5,26214.0,2022-02-19,1,2,7
24,40864,Sayre,Stroyan,Male,87,Indonesia,Elkhart Municipal Airport,US,United States,NAM,...,3/20/2022,EKI,Sayre Stroyan,Cancelled,94811.5,95343.0,2022-03-20,1,3,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98590,36988,Kath,Palfreman,Female,31,Japan,Elizabeth Field,US,United States,NAM,...,6/28/2022,FID,Kath Palfreman,On Time,33455.5,33980.0,2022-06-28,2,6,26
98592,97507,Benjie,Garrioch,Male,2,Peru,Port Heiden Airport,US,United States,NAM,...,9/14/2022,PTH,Benjie Garrioch,On Time,1604.5,2133.0,2022-09-14,3,9,37
98604,22436,Freddie,Landrean,Female,47,Brazil,St Cloud Regional Airport,US,United States,NAM,...,2/8/2022,STC,Freddie Landrean,On Time,50931.5,51475.0,2022-02-08,1,2,6
98605,68629,Morganne,Ockenden,Female,7,China,Newport Municipal Airport,US,United States,NAM,...,9/7/2022,ONP,Morganne Ockenden,On Time,7096.0,7623.0,2022-09-07,3,9,36
98612,26208,Ody,Tineman,Male,82,Indonesia,Five Mile Airport,US,United States,NAM,...,3/17/2022,FMC,Ody Tineman,Delayed,89341.0,89877.0,2022-03-17,1,3,11

In [18]:
#  Creating a Customer Column based on Departure and Arrival Airport 
US_data['Route'] = US_data['Airport_Name'].str.cat(US_data['Arrival_Airport'], sep=' -to- ')

US_Flight_Route = US_data['Route'].value_counts()
US_Flight_Route = pd.DataFrame({'Route': US_Flight_Route.index, 'Count': US_Flight_Route.values})
Top_20_US_Flight_Route = US_Flight_Route.head(20)

# Plotting a Donut Chart that represents the travelers ratio 

# FIRST-AUTHOR: remove plotting
# fig5 = px.bar(Top_20_US_Flight_Route, y='Route', x='Count')
# fig5.update_layout(title="Ratio of USA Visitors")
# fig5.show()

/tmp/ipykernel_114939/2114197301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_data['Route'] = US_data['Airport_Name'].str.cat(US_data['Arrival_Airport'], sep=' -to- ')

In [19]:
Top_20_US_Flight_Route

                                                Route  Count
0                     Amchitka Army Airfield -to- AHT     25
1          Great Falls International Airport -to- GTF     25
2                         Lonely Air Station -to- LNI     23
3                  Martha's Vineyard Airport -to- MVY     21
4                     Bradshaw Army Airfield -to- BSF     21
5                 Frederick Regional Airport -to- FDR     21
6                            Skypark Airport -to- BTF     21
7             Baudette International Airport -to- BDE     21
8       Billings Logan International Airport -to- BIL     21
9                           Republic Airport -to- FRG     20
10  St Petersburg Clearwater International Airport...     20
11             Spokane International Airport -to- GEG     20
12                       Boswell Bay Airport -to- BSW     20
13                Bismarck Municipal Airport -to- BIS     20
14                 New Ulm Municipal Airport -to- ULM     20
15       Black Hills Airport-Clyde Ice Field -to- SPF     20
16               Tampa International Airport -to- TPA     20
17                     Felker Army Air Field -to- FAF     20
18                     Mercer County Airport -to- BLF     19
19                 Lima Allen County Airport -to- AOH     19

In [20]:
# Figuring out the total number of flight per month 


filtered_df = df[['Airport_Name','Departure_Date','Arrival_Airport','Pilot_Name']]
filtered_df1 = pd.DataFrame(filtered_df)
filtered_df1_no_duplicates = filtered_df1.drop_duplicates()
filtered_df1_no_duplicates['Date'] = pd.to_datetime(filtered_df1_no_duplicates['Departure_Date']) 

# Extracting month
filtered_df1_no_duplicates['Month'] = filtered_df1_no_duplicates['Date'].dt.month
filtered_df1_no_duplicates

,Airport_Name,Departure_Date,Arrival_Airport,Pilot_Name,Date,Month
0,Coldfoot Airport,6/28/2022,CXF,Edithe Leggis,2022-06-28,6
1,Kugluktuk Airport,12/26/2022,YCO,Elwood Catt,2022-12-26,12
2,Grenoble-Isère Airport,1/18/2022,GNB,Darby Felgate,2022-01-18,1
3,Ottawa / Gatineau Airport,9/16/2022,YND,Dominica Pyle,2022-09-16,9
4,Gillespie Field,2/25/2022,SEE,Bay Pencost,2022-02-25,2
...,...,...,...,...,...,...
98614,Hasvik Airport,12/11/2022,HAA,Gareth Mugford,2022-12-11,12
98615,Ampampamena Airport,10/30/2022,IVA,Kasey Benedict,2022-10-30,10
98616,Albacete-Los Llanos Airport,9/10/2022,ABC,Darrin Lucken,2022-09-10,9
98617,Gagnoa Airport,10/26/2022,GGN,Gayle Lievesley,2022-10-26,10
98618,Yoshkar-Ola Airport,4/16/2022,JOK,Wilhelmine Touret,2022-04-16,4

In [21]:
# Table for Total number of flight per month (This included all flight status)

filtered_df1_no_duplicates
Total_flights = filtered_df1_no_duplicates['Month'].value_counts()
Total_flights = Total_flights.reset_index()
Total_flights.sort_values(by='index', ascending=True, inplace=True)
Total_flights

    index  Month
4       1   8416
11      2   7653
3       3   8431
9       4   7959
1       5   8496
7       6   8128
2       7   8451
0       8   8544
6       9   8149
5      10   8415
8      11   8053
10     12   7924

In [22]:
# Histogram representation of the flights 

# FIRST-AUTHOR: remove plotting
# fig6 = px.bar(Total_flights, x='index',y='Month', title='MOM Flights')
# fig6.show()

In [23]:
#  Getting the Average number of flights per month 

Average_Flight = np.mean(Total_flights['Month'])
Average_Flight

8218.25

In [24]:
# Ratio of Visitors per Nations/Country of Origin

Visitors_per_nations = df['Nationality'].value_counts()
Visitors_per_nations.head()
Visitors_per_nations_1 = Visitors_per_nations.head(20).reset_index()
Visitors_per_nations_1.sort_values(by='Nationality', ascending=False, inplace=True)
Visitors_per_nations_1.head(5)
# FIRST-AUTHOR: remove plotting
# fig7 = px.pie(Visitors_per_nations_1, values='Nationality', names='index', hole=0.5, title='Nationality Ratio (TOP 20)')
# fig7.show()

         index  Nationality
0        China        18317
1    Indonesia        10559
2       Russia         5693
3  Philippines         5239
4       Brazil         3791

In [25]:
FL_state = df[['Departure_Date','Flight_Status']]
FL_state['Date']  = pd.to_datetime(FL_state['Departure_Date'])
FL_state['Month'] = FL_state['Date'].dt.month
FL_state

/tmp/ipykernel_114939/3803059805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FL_state['Date']  = pd.to_datetime(FL_state['Departure_Date'])
/tmp/ipykernel_114939/3803059805.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FL_state['Month'] = FL_state['Date'].dt.month

      Departure_Date Flight_Status       Date  Month
0          6/28/2022       On Time 2022-06-28      6
1         12/26/2022       On Time 2022-12-26     12
2          1/18/2022       On Time 2022-01-18      1
3          9/16/2022       Delayed 2022-09-16      9
4          2/25/2022       On Time 2022-02-25      2
...              ...           ...        ...    ...
98614     12/11/2022     Cancelled 2022-12-11     12
98615     10/30/2022     Cancelled 2022-10-30     10
98616      9/10/2022       On Time 2022-09-10      9
98617     10/26/2022     Cancelled 2022-10-26     10
98618      4/16/2022       Delayed 2022-04-16      4

[98619 rows x 4 columns]