In [ ]:
import os

def scale_input_data(scale_factor):
  file_bases = ['./input/KaggelMostVotes']
  for file_base in file_bases:
    import pandas as pd
    import shutil
    if scale_factor == 1.0:
      shutil.copyfile(file_base + '.csv', file_base + '.scaled.csv')
      continue
    df_to_scale = pd.read_csv(file_base + '.csv')
    new_num_rows = int(scale_factor * len(df_to_scale))
    if scale_factor <= 1.0:
      df_to_scale = df_to_scale.iloc[:new_num_rows]
    else:
      while len(df_to_scale) < new_num_rows:
        df_to_scale = pd.concat([df_to_scale, df_to_scale[:min(new_num_rows - len(df_to_scale), len(df_to_scale))]])
    df_to_scale.to_csv(file_base + '.scaled.csv', index=False)

if 'INPUT_SCALE_FACTOR' in os.environ:
  scale_input_data(float(os.environ['INPUT_SCALE_FACTOR']))

In [1]:
# There are lot of dataset's on kaggle. To make a difference i need to create a creative dataset, this made me to think out of the box and finally got crazy idea.
# I create a dataset on kaggle datasets, which sounds wow right!
# Main mottto is to share knowledge by pratical projection. Below i created a good stuff, please have a look at it.


#Loading libraries
# linear algebra
import numpy as np 
# data processing
# import pandas as pd 
exec(os.environ['IREWR_IMPORTS'])
#data visuvalisation
# FIRST-AUTHOR: remove plotting
# import matplotlib.pyplot as plt
# import seaborn as sns

#Path to access file
# FIRST-AUTHOR: remove path printing
# import os
# print(os.listdir("./input"))

In [2]:
#Reading the file
kaggle_df = pd.read_csv('./input/KaggelMostVotes.scaled.csv')

#To get count of rows |& columns
kaggle_rows,kaggle_cols = kaggle_df.shape[0],kaggle_df.shape[1]
# (1960, 15)

#Getting all columns
kaggle_df.columns

Index(['Votes', 'Image', 'Link', 'Title', 'Sub-title', 'Uploader',
       'Updated on', 'Version', 'Tags', 'FileType', 'FileSize', 'License',
       'Kernels', 'Discussions', 'Views'],
      dtype='object')

In [3]:
#Getting the information
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Votes        1960 non-null   int64
 1   Image        1960 non-null   object
 2   Link         1960 non-null   object
 3   Title        1960 non-null   object
 4   Sub-title    1960 non-null   object
 5   Uploader     1960 non-null   object
 6   Updated on   1960 non-null   object
 7   Version      1960 non-null   int64
 8   Tags         1960 non-null   object
 9   FileType     1960 non-null   object
 10  FileSize     1960 non-null   object
 11  License      1960 non-null   object
 12  Kernels      1960 non-null   object
 13  Discussions  1960 non-null   int64
 14  Views        1960 non-null   object
dtypes: int64(3), object(12)
memory usage: 229.8+ KB

In [4]:
#Remove Dublicates - it will remove duplicate row 
kaggle_df.drop_duplicates()
# To remove by colomn kaggle_df.drop_duplicates(subset='col_name')
# right now there are no duplicates - check it by len(kaggle_df)

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1k,35,614k
1,1371,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1k,85,496k
2,1219,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),a year ago,2,film,CSV,9.3 MB,Other,1k,50,513k
3,979,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/START-UMD/gtd,Global Terrorism Database,"More than 180,000 terrorist attacks worldwide,...",START Consortium,18 days ago,3,"terrorism,crime,international relations",CSV,27.9 MB,Other,633,11,237k
4,912,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mczielinski/bitcoin-his...,Bitcoin Historical Data,Bitcoin data at 1-min intervals from select ex...,Zielak,3 months ago,14,"finance,history",CSV,148.3 MB,CC4,85,22,224k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/chetankv/dogs-cats-images,Dogs & Cats Images,image classification,chetanimravan,5 months ago,1,No Tags,Other,216.2 MB,CC0,4,0,509
1956,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/cms/nppes,NPPES Plan and Provider Enumeration System,The CMS National Plan and Provider Enumeration...,Centers for Medicare & Medicaid Services,1 months ago,1,"government,medicine,healthcare",BigQuery,15.2 GB,CC0,1,0,1k
1957,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hrosebaby/horse-racing-...,Horse Racing Dataset for Experts (Hong Kong),A comprehensive dataset for horse racing in Ho...,HorseBaby,4 months ago,3,"horse racing,sports,ranking,classification",CSV,8 MB,CC4,2,1,12k
1958,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/rgupta09/kiva-additiona...,Metrics for Kiva,A look into regional economic measures & demog...,Rituparna,5 months ago,5,"demographics,economics,finance",Other,1.3 MB,CC0,1,0,1k
1959,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/jobspikr/30000-latest-h...,30000+ healthcare jobs from eMedCareers (Europe),This dataset contains 30000 latest job posting...,JobsPikr,5 months ago,1,"healthcare,europe",CSV,22.3 MB,CC4,1,0,1k

In [5]:
#checking the NAN or null data & cleaning it
# kaggle_df.isnull()  Feel free to use this also
kaggle_df.isnull().sum()

Votes          0
Image          0
Link           0
Title          0
Sub-title      0
Uploader       0
Updated on     0
Version        0
Tags           0
FileType       0
FileSize       0
License        0
Kernels        0
Discussions    0
Views          0
dtype: int64

In [6]:
#Right now there is no null (or) NAN data nut below show how to replace it by relevent data 

#you can  count the number of unique values from character variables by -  kaggle_df.Discussions.value_counts(sort=True)

#For Discussion
kaggle_df.Discussions.fillna('0',inplace=True)

#For Views
kaggle_df.Views.fillna('0',inplace=True)

#Now you can cross check the data 
kaggle_df.isnull().sum()

/tmp/ipykernel_859652/1344602431.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kaggle_df.Discussions.fillna('0',inplace=True)
/tmp/ipykernel_859652/1344602431.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  kaggle_df.Views.fillna('0',inplace=True)

Votes          0
Image          0
Link           0
Title          0
Sub-title      0
Uploader       0
Updated on     0
Version        0
Tags           0
FileType       0
FileSize       0
License        0
Kernels        0
Discussions    0
Views          0
dtype: int64

In [7]:
# If you see the dat some of the columns are in correct datatype like Kernels,Discussions,views
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Votes        1960 non-null   int64
 1   Image        1960 non-null   object
 2   Link         1960 non-null   object
 3   Title        1960 non-null   object
 4   Sub-title    1960 non-null   object
 5   Uploader     1960 non-null   object
 6   Updated on   1960 non-null   object
 7   Version      1960 non-null   int64
 8   Tags         1960 non-null   object
 9   FileType     1960 non-null   object
 10  FileSize     1960 non-null   object
 11  License      1960 non-null   object
 12  Kernels      1960 non-null   object
 13  Discussions  1960 non-null   int64
 14  Views        1960 non-null   object
dtypes: int64(3), object(12)
memory usage: 229.8+ KB

In [8]:
#You change the datatype of columns 

#Changing Version column to number datatype
  
# you can  change NAN value by pass the value in fillna function  
kaggle_df['Version'] = kaggle_df['Version'].astype(int).fillna(0)

# #Changing Views column to number datatype
kaggle_df['Discussions'] = kaggle_df['Discussions'].astype(float).fillna(0)

#You can change it to float as
# kaggle_df['Views'] = kaggle_df['Views'].astype(float).fillna(0)

kaggle_df.info()
#Below th dataype of  Version, Discussions is changed

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Votes        1960 non-null   int64
 1   Image        1960 non-null   object
 2   Link         1960 non-null   object
 3   Title        1960 non-null   object
 4   Sub-title    1960 non-null   object
 5   Uploader     1960 non-null   object
 6   Updated on   1960 non-null   object
 7   Version      1960 non-null   int64
 8   Tags         1960 non-null   object
 9   FileType     1960 non-null   object
 10  FileSize     1960 non-null   object
 11  License      1960 non-null   object
 12  Kernels      1960 non-null   object
 13  Discussions  1960 non-null   float64
 14  Views        1960 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 229.8+ KB

In [9]:
# To simply sort by column 
kaggle_df.Version.sort_values()
#SNO version Number - below results are just displaying the verions in sorted way

979       1
1173      1
1171      1
1170      1
1169      1
       ...
1356     96
1166    101
493     105
1778    111
7       113
Name: Version, Length: 1960, dtype: int64

In [10]:
#You can also group by coloumns
kaggle_df.groupby('FileType').count()

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileSize,License,Kernels,Discussions,Views
FileType,,,,,,,,,,,,,,
BigQuery,44,44,44,44,44,44,44,44,44,44,44,44,44,44
CSV,1445,1445,1445,1445,1445,1445,1445,1445,1445,1445,1445,1445,1445,1445
Other,397,397,397,397,397,397,397,397,397,397,397,397,397,397
SQLite,21,21,21,21,21,21,21,21,21,21,21,21,21,21
{}JSON,53,53,53,53,53,53,53,53,53,53,53,53,53,53

In [11]:
#Here we see how to by count by certain range 
version_length = [1,5,10,25,50,75,100,500,1000]
kaggle_version_ranges = pd.cut(kaggle_df.Version, version_length)
pd.value_counts(kaggle_version_ranges)
#Below result is showing the count of how many versions are bewtten - 1 to 5, 5 to 10, 10 to 25, 25 to 50 and so on....

/tmp/ipykernel_859652/4138957181.py:4: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(kaggle_version_ranges)

Version
(1, 5]         693
(5, 10]         92
(10, 25]        43
(25, 50]        12
(75, 100]        5
(50, 75]         4
(100, 500]       4
(500, 1000]      0
Name: count, dtype: int64

In [12]:
# "correlation" refers to a mutual relationship or association between quantities
# Correlation can help in predicting one quantity from another
# FIRST-AUTHOR: make notebook run
# kaggle_df.corr()
kaggle_df.select_dtypes(include='number').corr()

                Votes   Version  Discussions
Votes        1.000000  0.091789     0.744952
Version      0.091789  1.000000     0.097783
Discussions  0.744952  0.097783     1.000000

In [13]:
#crosstab display the each elemnt from one  column and count how many time it occuried in second coloumn
kaggle_crosstab = pd.crosstab(kaggle_df['Updated on'],kaggle_df.FileType,margins=True)
kaggle_crosstab
# To display in percentage
# kaggle_crosstab = pd.crosstab(kaggle_df['Updated on'],kaggle_df.FileType,margins=True)/kaggle_df.shape[0]
# kaggle_crosstab

# For Total count 
# kaggle_crosstab.max()

FileType       BigQuery   CSV  Other  SQLite  {}JSON   All
Updated on
1 months ago         44     0      0       0       0    44
10 months ago         0    73     45       0       3   121
11 days ago           0     1      1       0       0     2
12 days ago           0     0      0       0       1     1
13 hours ago          0     1      0       0       0     1
16 hours ago          0     0      0       0       1     1
17 days ago           0     1      0       0       0     1
18 days ago           0     3      0       0       0     3
18 hours ago          0     0      1       0       0     1
19 days ago           0     1      0       0       0     1
2 days ago            0     1      0       0       0     1
2 hours ago           0     0      1       0       0     1
2 months ago          0    30     12       0       5    47
2 years ago           0   416     51      11       4   482
20 days ago           0     1      0       0       0     1
21 days ago           0     1      1       0       0     2
21 hours ago          0     1      0       0       0     1
22 days ago           0     4      1       0       0     5
23 days ago           0     2      0       0       0     2
24 days ago           0     1      0       0       0     1
25 days ago           0     2      0       0       0     2
3 days ago            0     0      0       1       0     1
3 hours ago           0     0      1       0       1     2
3 months ago          0    38     20       0       5    63
3 years ago           0     0      1       0       0     1
4 days ago            0     1      1       0       0     2
4 months ago          0    51     16       0       3    70
5 months ago          0    37     20       0       2    59
6 days ago            0     1      0       0       0     1
6 hours ago           0     0      1       0       0     1
6 months ago          0    44     12       1       4    61
7 days ago            0     5      2       0       0     7
7 months ago          0    44     17       0       1    62
8 days ago            0     3      1       0       0     4
8 months ago          0    43     19       0       3    65
9 days ago            0     1      0       0       0     1
9 months ago          0    51     30       1       1    83
a day ago             0     0      1       0       0     1
a month ago           0    13      5       0       2    20
a year ago            0   574    136       7      17   734
an hour ago           0     0      1       0       0     1
All                  44  1445    397      21      53  1960

In [14]:
# Total crosstab list
kaggle_crosstab.max()

FileType
BigQuery      44
CSV         1445
Other        397
SQLite        21
{}JSON        53
All         1960
dtype: int64

In [15]:
#list all columns where Discussions is greater than Version
kaggle_df.query('Discussions > Version')

#using AND condition
kaggle_df.query('500 < Votes & Discussions > Version')

#using OR condition
kaggle_df.query('Version < Discussions | 500 < Votes ')

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1k,35.0,614k
1,1371,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1k,85.0,496k
2,1219,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),a year ago,2,film,CSV,9.3 MB,Other,1k,50.0,513k
3,979,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/START-UMD/gtd,Global Terrorism Database,"More than 180,000 terrorist attacks worldwide,...",START Consortium,18 days ago,3,"terrorism,crime,international relations",CSV,27.9 MB,Other,633,11.0,237k
4,912,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mczielinski/bitcoin-his...,Bitcoin Historical Data,Bitcoin data at 1-min intervals from select ex...,Zielak,3 months ago,14,"finance,history",CSV,148.3 MB,CC4,85,22.0,224k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1780,7,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/sgonkaggle/youtube-tren...,YouTube Trending Video Statistics with Subscr...,Trending YouTube Video Statistics for unique V...,Mr.SG,4 months ago,3,"united states,statistics,entertainment",CSV,2.5 MB,GPL,2,4.0,2k
1789,7,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/ulabox/ulabox-orders-wi...,Ulabox orders with categories' partials 2017,General data of 30k orders from 10k customers,Ulabox,4 months ago,1,"business,internet,food and drink,customer value",CSV,606.7 KB,Other,6,3.0,1k
1847,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/wh0801/NBA-16-17-regula...,NBA 16-17 regular season shot log,Shot log data grouped by NBA teams for the 16-...,wh0801,a year ago,1,No Tags,Other,3.2 MB,Other,2,3.0,2k
1850,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/raghu07/ipl-datatill-2016,Indian Premier League(IPL)Data(till 2016),IPL OLTP tables converted to a Set of CSV files,RaghuReddy,a year ago,1,"cricket,india,sports",CSV,966.4 KB,ODbL,1,2.0,795
1870,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/tastelesswine/india-cri...,India Crime List (2014 and 2015),List of different crime and arrest done in 201...,SAURAV SUMAN,a year ago,1,"violence,demographics,politics",CSV,2.2 KB,CC0,0,2.0,693

In [16]:
kaggle_df.index.values

array([   0,    1,    2, ..., 1957, 1958, 1959])

In [17]:
#Here we are going how the data changes from versions and votes

# to get indes of dataframe 
kaggle_SNO= kaggle_df.index.values
# kaggle_df.index.values
# FIRST-AUTHOR: remove plotting
# kaggle_fig, kaggle_axes = plt.subplots(nrows=2,ncols=1,figsize=(22, 16),) 

# #NOTE
# # lw -linewidth; ls - linestyle
# # For more styling https://matplotlib.org/examples/lines_bars_and_markers/line_styles_reference.html

# #For the first plot
# kaggle_axes[0].plot(kaggle_SNO[:101],kaggle_df['Version'][:101],color='blue',lw=3,ls=':',marker='o',markersize=10,markerfacecolor='blue')
# kaggle_axes[0].set_xlabel('Dataset Version')
# kaggle_axes[0].set_ylabel('Datasets SNO ')
# kaggle_axes[0].set_title('SNO VS VERSIONS')

# #For the first plot
# kaggle_axes[1].plot(kaggle_SNO[:101],kaggle_df['Votes'][:101],color='blue',lw=3,ls=':',marker='o',markersize=10,markerfacecolor='blue')
# kaggle_axes[1].set_xlabel('Dataset Votes')
# kaggle_axes[1].set_ylabel('Datasets SNO ')
# kaggle_axes[1].set_title('SNO VS Votes')

# #Finaly display
# plt.show()
_ = kaggle_SNO[:101]
_ = kaggle_df['Version'][:101]

In [18]:
#Represeting version ranges in pie chart
version_length = [1,3,5,10,20,50,500]
kaggle_version_ranges = pd.cut(kaggle_df.Version, version_length)
kaggle_version_cluster=  pd.value_counts(kaggle_version_ranges)

#Getting indexs
kaggle_pie_labels = kaggle_version_cluster.index.values
#Getting data
kaggle_pie_data = kaggle_version_cluster.values

#  = 
# slices_hours = [4, 8]
# activities = ['Sleep', 'Work']
# FIRST-AUTHOR: remove plotting
# plt.pie(kaggle_pie_data, labels=kaggle_pie_labels,startangle=90, autopct='%.1f%%',radius=3)

# #For more colors and styling 
# plt.show()

/tmp/ipykernel_859652/2861396023.py:4: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  kaggle_version_cluster=  pd.value_counts(kaggle_version_ranges)

In [19]:
#Heatmap to show the correlation
# FIRST-AUTHOR: remove plotting
# f,ax = plt.subplots(figsize=(18, 18))
# # FIRST-AUTHOR: make notebook run
# # sns.heatmap(kaggle_df.corr())
# sns.heatmap(kaggle_df.select_dtypes(include='number').corr())
# plt.show()
_ = kaggle_df.select_dtypes(include='number').corr()

In [20]:
#Display plot by number of count
# FIRST-AUTHOR: remove plotting
# sns.countplot(x='Version',data=kaggle_df.tail(20))
_ = kaggle_df.tail(20)

In [21]:
#Display plot by number of count and classify with filetype
# sns.countplot(x='Version',data=kaggle_df.tail(20),hue='FileType')
_ = kaggle_df.tail(20)

In [22]:
# Thank you for reading...